CodeP1/Solution/.vs/
CodeP1/Solution/API/bin/
CodeP1/Solution/API/obj/
CodeP1/Solution/BE.API/obj/
CodeP1/Solution/BE.BS/obj/
CodeP1/Solution/BE.DAL.DO/obj/
CodeP1/Solution/BE.DAL.EF/obj/
CodeP1/Solution/BE.DAL.Repository/obj/
CodeP1/Solution/BE.DAL/obj/
CodeP1/Solution/BE.API/bin/
CodeP1/Solution/BE.BS/bin/
CodeP1/Solution/BE.DAL.DO/bin/
CodeP1/Solution/BE.DAL.EF/bin/
CodeP1/Solution/BE.DAL.Repository/bin/
CodeP1/Solution/BE.DAL/bin/
CodeP2/VisualStudio/FrontEnd/UI.Wizzard/bin/
CodeP2/VisualStudio/FrontEnd/UI.Wizzard/obj/
CodeP2/VisualStudio/FrontEnd/UI/obj/
CodeP2/VisualStudio/FrontEnd/UI/bin/
Quiz2/BackEnd/BE.Wizzard/bin/
CodeP2/VisualStudio/FrontEnd/.vs/
Quiz2/BackEnd/BE.Wizzard/obj/
Quiz2/BackEnd/.vs/
CodeP2/VisualStudio/FrontEnd/UI.Login/bin/
CodeP2/VisualStudio/FrontEnd/UI.Login/obj/
